/data/impact_data_raw
impact_data_augmented.h5
test.h5
/.venv
/__pycache__
*.pyc
/CNN_test.ipynb
/depreciated
/pred_true
.DS_Store
data/impact_data
/data
read_h5_scores.py
test.*
hitiq_scrape.js
*.keras
/env
/false_cghs
terminal_start.txt
download_script.txt
merge_impacts.py
*.csv
.idea/